#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // default: 600

#define AS(keycode) &as LS(keycode) keycode

/ {
    macros {
        qu: qu {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp Q &kp U>;
        };

        ps: ps {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp P &kp S>;
        };
    };

    behaviors {
        td0: tap_dance_parentheseseseses {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <225>;
            bindings = <&kp LPAR>, <&kp RPAR>;
        };

        td1: tap_dance_braces {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <225>;
            bindings = <&kp LBRC>, <&kp RBRC>;
        };

        td2: tap_dance_brackets {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <225>;
            bindings = <&kp LBKT>, <&kp RBKT>;
        };

        td3: tap_dance_tabesc {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <225>;
            bindings = <&kp TAB>, <&kp ESC>;
        };

        td4: tap_dance_cx {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <225>;
            bindings = <&kp C>, <&kp X>;
        };

        td5: tap_dance_fg {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <225>;
            bindings = <&kp F>, <&kp G>;
        };

        hml: home_row_mod_left {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <100>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <3 4 5 10 11 12 13 16 17 20 21>; // List of keys on the right
            hold-trigger-on-release;
        };

        hmr: home_row_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            require-prior-idle-ms = <100>;
            tapping-term-ms = <250>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&kp>;

            hold-trigger-key-positions = <0 1 2 6 7 8 9 14 15 18 19>; // List of keys on the left
            hold-trigger-on-release;
        };

        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <175>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        hw_soft_off: hw_soft_off {
            compatible = "zmk,behavior-soft-off";
            #binding-cells = <0>;
            split-peripheral-off-on-press; // Turn peripheral off immediately for reliability
            hold-time-ms = <1500>; // Only turn off if the key is held for 1.5 seconds or longer.
        };

        fmt: fast_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <125>;
            bindings = <&kp>, <&kp>;

            display-name = "Fast Mod-Tap";
        };

        mt: mod_tap { tapping-term-ms = <200>; };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp Q  &kp U  &kp G        &kp P          &kp D  &kp C
&kp A  &kp E  &kp I        &kp N          &kp S  &kp W
&kp Y  &kp B  &kp L        &kp F          &kp X  &kp Q
              &kp SPACE    &kp BACKSPACE
            >;
        };
    };
};
